* {
    box-sizing: border-box; /* Apply to all elements */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 10px;
}

.appointment-container {
    max-width: 1300px;
    margin: auto;
    background: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s;
}

.appointment-container:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 1.75em;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
}

.error {
    color: #e74c3c;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Space below the filters */
}

.filter-item {
    flex: 1; /* Equal width for all filter items */
    margin-right: 10px; /* Space between items */
}

.filter-item:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

input[type="text"], input[type="date"], select {
    width: 100%; /* Full width */
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 1em;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

input[type="text"]::placeholder {
    color: #aab8c2;
    font-style: italic;
}

input[type="text"]:focus, input[type="date"]:focus, select:focus {
    border-color: #c0392b;
    outline: none;
    box-shadow: 0 0 5px rgba(192, 57, 43, 0.5);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    table-layout: fixed; /* Ensures the table respects widths */
}

th, td {
    padding: 10px; /* Adjust padding for better spacing */
    text-align: left;
    border-bottom: 1px solid #ddd;
    overflow: hidden; /* Prevents overflow of content */
    text-overflow: ellipsis; /* Shows ellipsis if content is too long */
    white-space: nowrap; /* Prevents wrapping */
    font-size: 0.7em; /* Decrease font size */
}

th {
    background-color: #3498db;
    color: white;
    font-weight: 500; /* Adjusted weight */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 12.5%; /* Set a specific width for each header */
}

td {
    vertical-align: middle;
    width: 12.5%; /* Set the same width as the corresponding th */
}

tr:hover {
    background-color: #ecf0f1;
}

td button {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 6px 12px; /* Decreased padding */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 0.8em; /* Decreased font size */
}

td button:hover {
    background-color: #c0392b;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination button {
    background-color: #3498db;
    color: white;
    padding: 6px 12px; /* Decreased padding */
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 0.8em; /* Decreased font size */
}

.pagination button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    th, td {
        padding: 10px;
    }

    th {
        font-size: 0.9em; /* Adjust font size for smaller screens */
    }

    td button {
        padding: 4px 8px; /* Further decrease padding on smaller screens */
        font-size: 0.8em; /* Further decrease font size */
    }

    .pagination button {
        padding: 4px 8px; /* Further decrease padding */
    }
}

label {
    font-size: 1em;
    margin-bottom: 10px;
    display: block;
    color: #495057;
}

.arrow-up::before,
.arrow-down::before {
    color: black; /* Adjust color if needed */
    margin-left: 5px;
    font-size: 14px;
    display: inline; /* Ensure the arrow displays inline */
}

.button{
    background-color: red;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 8px;
}
.custom-snack-bar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
}

  