<div class="terminal-appointment-container">
    <h2>View Appointments</h2>

    <div *ngIf="isLoading">Loading appointments...</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

    <label for="datePicker">Filter Appointments:</label>
    <input type="date" id="datePicker" [(ngModel)]="selectedDate" (change)="filterAppointmentsByDate()" />

    <table *ngIf="!isLoading && !errorMessage">
        <thead>
            <tr>
                <!-- <th>Ticket Number</th> -->
                <th>Appointment ID</th>
                <th>Move Type</th>
                <th>Container Number</th>
                <th>Size Type</th>
                <th>Line</th>
                <th>Chassis No</th>
                <th>Status</th>
                <th>Gate Code</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of paginatedAppointments()">
                <!-- <td>{{appointment.ticketNumber}}</td> -->
                <td>{{ appointment['appointmentId'] }}</td>
                <td>{{ appointment['moveType'] }}</td>
                <td>{{ appointment['containerNumber'] }}</td>
                <td>{{ appointment['sizeType'] }}</td>
                <td>{{ appointment['line'] }}</td>
                <td>{{ appointment['chassisNo'] }}</td>
                <td>{{ appointment['appointmentStatus'] }}</td>
                <td>{{ appointment['gateCode'] }}</td>
                <td>
                    <button id="accept" *ngIf="appointment.status !== 'canceled' && appointment.status !== 'rejected'" (click)="acceptAppointment(appointment.appointmentId)">
                        Accept
                    </button>
                    <button id="cancel" *ngIf="appointment.status !== 'canceled' && appointment.status !== 'rejected'" (click)="cancelAppointment(appointment.appointmentId)">
                        Cancel
                    </button>
                </td>
            </tr>
            <tr *ngIf="filteredAppointments.length === 0 && selectedDate">
                <td colspan="9" style="text-align: center;">No appointments booked on this date.</td>
            </tr>
            <tr *ngIf="filteredAppointments.length === 0 && !selectedDate">
                <td colspan="9" style="text-align: center;">No appointments available.</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="filteredAppointments.length > 0" class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span>Page {{ currentPage }} of {{ totalPages() }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages()">Next</button>
    </div>
    <button (click)="goHome()" class="button">Go Home</button>

</div>
