<!-- <div>
  <h1>Drivers</h1>
  <form [formGroup]="driverForm" (ngSubmit)="addDriver()">
    <input formControlName="driverName" placeholder="Driver Name" required />
    <input formControlName="plateNo" placeholder="Plate No" required />
    <input formControlName="phoneNumber" placeholder="Phone Number" required />
    <button type="submit">Add Driver</button>
  </form>

  <ul>
    <li *ngFor="let driver of drivers">
      {{ driver.driverName }} - {{ driver.plateNo }}
      <button (click)="deleteDriver(driver)">Delete</button>
    </li>
  </ul>
</div> -->
<div>
  <h1>Drivers</h1>
  <form [formGroup]="driverForm" (ngSubmit)="addDriver()">
    <input formControlName="driverName" placeholder="Driver Name" required />
    <input formControlName="plateNo" placeholder="Plate No" required />
    <input formControlName="phoneNumber" placeholder="Phone Number" required />
    <button type="submit">Add Driver</button>
  </form>

  <ul>
    <li *ngFor="let driver of drivers">
      {{ driver.driverName }} - {{ driver.plateNo }}
      <button (click)="deleteDriver(driver)">Delete</button>
    </li>
  </ul>
</div>
