<div *ngIf="user">
    <h1>Welcome, {{ user.trCompanyName || user.portName }}</h1>
    <p>Email: {{ user.email }}</p>

    <div *ngIf="userType === 'TruckingCompany'">
        <p>GST No: {{ user.gstNo }}</p>
        <p>Transport License No: {{ user.transportLicNo }}</p>
        <button (click)="createAppointment()">Create Appointment</button> <!-- Button to create appointment -->
        <a [routerLink]="['/dashboard/drivers']">View Drivers</a> 
    </div>

    <div *ngIf="userType === 'Terminal'">
        <p>Address: {{ user.address }}</p>
        <p>City: {{ user.city }}</p>
        <p *ngIf="user.state">State: {{ user.state }}</p>
        <p *ngIf="user.country">Country: {{ user.country }}</p>
    </div>

   
</div>

<router-outlet></router-outlet>
